<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="productDetails" class="org.niit.model.ProductDetails" >
        <property name="company" value="Parle"/>
        <property name="manufacture" value="octuber"/>
        <property name="quantity" value="100"/>
    </bean>

    <bean id="product" class="org.niit.model.Product" scope="prototype">
        <constructor-arg index="0" value="101"/>
        <constructor-arg index="1" value="parle-G"/>
        <constructor-arg index="2" value="10"/>
        <constructor-arg index="3" ref="productDetails"/>
    </bean>

</beans>