<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="cab" class="org.niit.model.Cab">
        <property name="cabnumber" value="22012"/>
        <property name="drivername" value="gullu"/>
        <property name="cabprice" value="405"/>
        <property name="destinationkm" value="120"/>
    </bean>
</beans>